body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
}






.jumbotron{
    background-image: url("/assets/img/imf.jpeg");
    background-color: #212121;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #cacaca;

    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px; 
}


.text-jumb{
    text-align: center;
    color: #cacaca;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.line{
    border: 2px solid #2389fd;
    border-radius: 5px;
    width: 10%;
}

.line2{
    border: 2px solid #2389fd;
    border-radius: 5px;
    width: 2800%;
    margin-left: -2800%;
}

.img1{
    width: 100%;
    border-radius: 25px;
}

.p-sobre{
    text-align: justify;
}

.work {
    position: relative;
    padding: 3px;
}

.work>img {
  width: 100%;
}

.work .overlay {
    background: #1C1D21;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.work:hover .overlay {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 0.8;
}

.work .work-content {
    position: absolute;
    left: 25px;
    right: 25px;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.work .work-content h3 {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    color: #FFF;
    margin-bottom: 10px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.work:hover .work-content h3 {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.work .work-content span {
    display: block;
    text-transform: uppercase;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    color: #6195FF;
    margin-bottom: 5px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.work:hover .work-content span {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.work .work-link {
    text-align: center;
    margin-top: 20px;
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.work .work-link a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #6195FF !important;
    color: #FFF !important;
    line-height: 50px;
    text-align: center;
}

.work:hover .work-link {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    opacity: 1;
}

.progress{
    border-radius: 50px;
    height: 25px; 
    border: 1px solid black;
}

.bloco{
    width: 15px;
    height: 15px;
    background-color: blue;
    border: 1px dotted black;
}

.img-logo{
    width:40px;
    border-radius: 100%; 
    filter: saturate(200%) !important;
    filter: grayscale(100%) !important;
}

.color-purple{
    background-color: #a517dd;
    color: #000000;
    font-weight: bolder;
    font-size: 1.2em;
    
}

.color-blue{
    background-color: #2e84e7;
    color: #000000;
    font-weight: bolder;
    font-size: 1.2em;
}

.color-yellow{
    background-color: #f8fb3a;
    color: #000000;
    font-weight: bolder;
    font-size: 1.2em;
}

.color-green{
    background-color: #58d842;
    color: #000000;
    font-weight: bolder;
    font-size: 1.2em;
}

.color-grey{
    background-color: #cacaca;
    color: #000000;
    font-weight: bolder;
    font-size: 1.2em;
}

.color-orange{
    background-color: #f58217;
    color: #000000;
    font-weight: bolder;
    font-size: 1.2em;
}

.back-menu, a{
    background-color: transparent !important;
    color: #ffffff !important;
    text-decoration: none;
}   

.shadow{
    box-shadow: 0px 1px 27px 0px rgba(0, 0, 0, 0.4);
    padding: 50px;
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212121;
    color: white;
    text-align: center;
    margin-top: 50px;
    padding: 25px;
}

.img{
    background-image: url("../img/chiode.png");
    background-size: cover;
    filter: grayscale(1);
}

.icon{
    font-size: 23px;
    padding: 6px;
}

.display-3 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.hidden1, .hidden2, .hidden3, .hidden4{
    display: none;
}